body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

html, body {
    height: 100%;
}

.rock {
   align-content: center;
}

#human-rps, #computer-rps {
    width: 300px;
    height: auto;
}
#header, #choice-statement {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.results-log, .results {
    text-align: center;
}

#image-container {
    box-sizing: border-box;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#human-choice, #computer-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#restart-button-container {
    display: flex;
    justify-content: center;
}

.start-new-game-button {
    width: auto;
}
