body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

html, body {
    height: 100%;
}

.rock {
   align-content: center;
}

#rps {
    width: 300px;
    height: auto;
}
#header, #choice-statement {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.results-log, .results {
    text-align: center;
}